.cinemaa {
  padding-bottom: 50px;
}
.cinema {
  ul {
    min-height: 705px;
    width: 92px;
    float: left;
    border: 1px solid #ebebec;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 0;
    li {
      list-style: none;
      text-align: center;
      height: 90px;
      width: 90px;
      a {
        opacity: 0.5;
        text-decoration: none;
        position: relative;
        display: flex;
        height: 90px;
        width: 90px;
        justify-content: center;
        align-items: center;
        &:hover {
          opacity: 1;
        }
        &:after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: calc(100% - 40px);
          -webkit-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          transform: translateX(-50%);
          border-bottom: 1px solid #fff;
          border-color: rgba(238, 238, 238, 0.88);
        }
        img {
          width: 50px;
          vertical-align: middle;
        }
      }
    }
  }
}
.cinema-item {
  border-top: 1px solid #ebebec;
  border-bottom: 1px solid #ebebec;
  width: 330px;
  float: left;
  overflow-x: auto;
  height: 705px;
  .cinema-detail {
    padding: 15px;
    padding-left: 20px;
    float: left;
    clear: both;
    width: 100%;
    position: relative;
    opacity: 0.5;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    img {
      width: 50px;
      height: 50px;
      float: left;
      clear: both;
    }
    .cinema-info {
      padding-left: 60px;
      .cinema-info-name {
        width: 100%;
      }
      .infoCinema {
        font-size: 12px;
        color: #949494;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &:hover {
      opacity: 1;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: calc(100% - 40px);
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      border-bottom: 1px solid #fff;
      border-color: rgba(238, 238, 238, 0.88);
    }
  }
}
.cinema-xuatchieu {
  height: 705px;
  width: calc(100% - 30% - 92px);
  border: 1px solid #ebebec;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  p {
    text-align: center;
    font-size: medium;
    margin-top: 20px;
    clear: both;
  }
  .cinema-film {
    .date-time {
      .time {
        margin: 10px;
        height: 40px;
        .time-item {
          width: 12%;
          float: left;
          font-family: "SF Medium";
          font-size: 14px;
          font-weight: 400;
          margin: 0 10px 10px 0;
          padding: 8px;
          transition: all 0.2s;
          text-decoration: none;
          display: block;
          text-align: center;
          background-color: rgba(246, 246, 246, 0.5);
          border-radius: 7px;
          color: #9b9b9b;
          border: 1px solid #e4e4e4;
          letter-spacing: -0.12px;
          span {
            font-size: 18px;
            font-weight: 1000;
            color: #108f3e;
            letter-spacing: -0.16px;
          }
        }
      }
    }
    float: left;
    clear: both;
    padding-bottom: 17px;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 20px;
    width: 100%;
    position: relative;
    margin-bottom: 0;
    border: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    .film-info {
      display: flex;
      cursor: pointer;
      width: 100%;
      .film-detail {
        padding: 6px 0 0 15px;

        width: 100%;
        p {
          margin: 0;
          line-height: 1.7;
          font-size: 12px;
          color: #9b9b9b;
          span {
            font-size: 14px;
            text-align: left;
            display: block;
            font-family: "SF Medium";
            line-height: 22px;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #000;
          }
        }
        .film-imdb {
          line-height: 1.7;
          font-size: 12px;
          color: #9b9b9b;
        }
      }
    }
  }
}
@media (max-width: 375px) {
.cinemaa {
  display: none;

}}