#listFilm {
  padding-top: 50px;
  .listFilmMenu {
    margin-bottom: 30px;
    margin-top: 30px;

    .active {
      color: #fa5238;
      font-size: 24px;
    }
    ul {
      text-align: center;
      li {
        text-decoration: none;
        list-style: none;
        display: inline;
        text-align: center;
        a {
          text-decoration: none;
          color: black;
          font-weight: 500;
          font-size: 20px;
          margin: 0 20px;
          transition: all 0.2s;
          &:hover {
            font-size: 24px;
          }
        }
      }
    }
  }
  .listFilmContent {
    .slick-prev,
    .slick-next {
      width: 40px;
      height: 40px;
      &:before {
        color: #f7971e;
        font-size: 40px;
      }
    }
    .slick-prev {
      left: -50px;
    }
    .slick-next {
      right: -50px;
    }
    padding-top: 30px;
    .film-item {
      height: 420px;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;

      &:hover .filmOverlay {
        opacity: 1;
      }
      &:hover .buttonOverlays {
        opacity: 1;
      }
    }
    .film-img {
      position: relative;
      height: 80%;
      &:before {
        position: absolute;
        content: "C18";
        top: 5px;
        left: 5px;
        text-align: center;
        justify-items: center;
        width: 40px;
        height: 25px;
        font-weight: 500;
        color: black;
        border-radius: 5px;
        background-color: #f7971e;
      }
      .film-rate {
        position: absolute;
        top: 5px;
        right: 5px;
        text-align: center;
        justify-items: center;
        width: 60px;
        height: 60px;
        color: black;
        border-radius: 5px;
        background-color: #00000082;
        .star {
          color: #f7971e;
        }
        .film-point {
          color: white;
          font-weight: 500;
        }
      }
      img {
        border-radius: 5px;
        height: 100%;
      }
      .filmOverlay {
        background: linear-gradient(to top, #000, transparent 100%);
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 0 15px;
        opacity: 0;
        img {
          color: white;
          height: 50px;
          width: 50px;
          position: absolute;
          top: 43%;
          left: 40%;
        }
        &:hover {
          opacity: 1;
        }

        &:after {
          height: 30px;
          width: 100%;
          background-color: red;
        }
        a {
          cursor: pointer;
        }
      }
      .btn {
        color: black;
        background-color: #f7971e;
      }
      .buttonOverlays {
        position: absolute;
        bottom: -16%;
        left: 0;
        width: 100%;
        height: 15%;
        opacity: 0;
        font-size: 20px;
        font-weight: 500;
        border: 1px solid black;
      }
    }
    .film-body {
      .card-title {
        text-align: center;
      }
    }
  }
}
#Trailer {
  .modal-dialog {
    max-width: 1000px;
    height: 50%;
    margin: 10% auto;
  }
}
@media (max-width: 375px) {
  #listFilm {
    padding-top: 0;
    .listFilmMenu {
      padding-top: 60px;
    }
    .listFilmContent {
      button {
        display: none !important;
      }
      .film-item {
        height: 450px;
        border-bottom: 1px solid black;
        margin-bottom: 20px;
        .film-img {
          .filmOverlay {
            img {
              display: none;
            }
            background: none;

            opacity: 1;
            .btn,
            .buttonOverlays {
              width: 35%;
              height: 12%;
              opacity: 1;
              bottom: -24%;
              left: 33%;
            }
          }
        }
        .film-body {
          // h4 {
          //   display: none;
          // }
        }
      }
    }
  }
}
