.signIn {
  width: 100vw;
  height: 100vh;
  padding: 250px 650px 0 650px;
  background-image: url(../../img/bg-signin.jpg);
}
.signInBox {
  h1 {
    font-size: 60px;
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
  }
  color: wheat;
  width: 600px;
  height: 600px;
  margin: 0;
  background: rgba(40, 57, 101, 0.9);
  .form-group {
    margin: 10px 60px;
    .alert-danger {
      margin: 0;
      padding: 0 1.25rem;
      background: none;
      border: rgba(40, 57, 101, 0.9);
      color: #dc3545 !important;
    }
    input {
      color: white;
      height: 40px;
      background: hsla(0, 0%, 100%, 0.1);
      border: none;
    }
    label {
      color: #aaa;
      margin-bottom: 0;
      margin-left: 7px;
    }
    .form-control {
      border-radius: 50px;
    }
  }
  .button {
    border: none;
    background-color: #0062cc;
    color: white;
    border-radius: 50px;
    height: 40px;
    width: 480px;

    margin: 20px 60px 0 60px;
    &:hover {
      background-color: #0069d9;
    }
  }
  a {
    text-decoration: none;
  }
}
@media (max-width: 375px) {
  .signIn {
    padding: 0;
    .signInBox {
      width: 375px  ;
      height: 700px ;
      .button {
        width: 255px;
    margin: 20px 60px 0 60px;
        a {
          margin: 0;
        }
      }
    }
  }
}
