* {
    box-sizing: border-box;
    font-family: "Roboto";
  }
  .w30p {
    width: 30% !important;
  }

  .pdt20 {
    padding-top: 20px;
  }

  .noPaddingLeft {
    padding-left: 0px;
  }

  .m-bt {
    margin-bottom: 10px;
  }
  .active {
    opacity: 1 !important;
  }
  
    /* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

