@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import "./component/body.scss";
@import "./component/carousel1";
@import "./component/navbar";
@import "./component/listFilm";
@import "./component/news";
@import "./component/cinema";
@import "./component/appHomeControl";
@import "./component/footer";
@import './component/movieDetail';
@import './component/booking';
@import './component/comboBox';
@import './component/signIn';
@import './component/signUp';
@import './component/userInfo';
@import './component/adminUser';
@import './component/search';
@import './component/backToTop';